/* Toggle button sliders */
.toggleBtn{
    position: absolute;
    margin: 0;
    width: 52px;
    height: 30px;
}

.toggleBtn + label{
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    height: 28px;
    width: 52px;
    background-color: #e8e8e8;
    border-radius: 14px;
}

.toggleBtn + label > b{
    position: absolute;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    transform: margin-left 1s;
    background-color: #fbfbfb;
    width: 28px;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25);
    margin-left: 0;
    left: 0;
}

.toggleBtn:checked + label {
    background-color: lightseagreen;
}

.toggleBtn:checked + label > b {
    margin-left: 22px;
}

/* Copy button styles */
#copyBtn{
    margin-top: 15px;
}

/* Password box display styles */
.passwordBox{
    margin-top: 1.5em;
    padding: 0 1.5em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    text-align: center;
    background: rgba(255,255,255,.6);
    border-radius: 25px;
    border: 2px solid #000000;
}

.passWordBox:hover{
    background-color: yellow;
}

/* Form element styles */
form div{
    margin-top: 10px;
}

form button {
    margin-top: 10px;
}

/* Styles that have to do with visiblity of items on screen */
.hidden{
    visibility: hidden;
}

textarea{ /* Used to hide textarea off screen (utilized in copy button)*/
    position: absolute;
    left: -100%;
}

input[type=checkbox]{ /* Used to hide original HTML checkboxes */
    height: 1px;
}